@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --one: #233142;
    --two: #455d7a;
    --three: #f95959;
    --black: #1d1d1d ;
    --white: #e3e3e3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: var(--white);
}

a:hover{
    color:  var(--three);
}

button:hover {
    background-color: var(--three);
}

.mySection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.leftLogin {
    background-color: var(--two);
    color: var(--white);
    height: 500px; 
    width:600px;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

a { 
    color: inherit; 
    font-weight: bolder;
    text-decoration: none;
} 

.rightLogin {
    background-color: rgb(0, 81, 140, 0.2);
    /* background-color: #00518C; */
    /* background-color: rgba(244,229,194, .25); */
    height: 500px; 
    width: 600px;
    padding-top: 5%;
}

.myBtn {
    width: 50%;
    background-color: #00518C;
    color: #F5F5F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.myBtn:hover {
    color: #00518C;
}