@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

header{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    aspect-ratio: 1/1;
    height: 80px;
}

.nav_links{
    display:inline-block;
    padding:0px 20px;
}
.nav_links li a {
    transition: all 0.3 ease 0s;
}
.nav_links li a {
    color:#0088a9;
}

.logout {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}